apiVersion: v1
kind: Service
metadata:
  name: openclaw
  namespace: openclaw
spec:
  type: NodePort
  selector:
    app: openclaw
  ports:
    - port: 18789
      targetPort: 18789
      nodePort: 30789       # accesible en http://<IP-CLOUD>:30789
      protocol: TCP
